@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(2, 2, 44);
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  background-color: rgb(8, 8, 78);
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 24px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(172, 172, 227);
  font-size: 1.1rem;
}

.left {
  font-size: 1.5rem;
  font-weight: 900;
}

.first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}

.btns button {
  padding: 10px;
  background-color: #6c69ae;
  color: white;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 900;
}

.btns button:hover {
  background-color: white;
  color: black;
}

.left-section {
  width: 34%;
  font-size: 2.7rem;
}
.right-section {
  width: 30%;
  margin-right: 100px;
}

.right-section img {
  width: 600px;
  margin-top: 40px;
}

#element {
  color: rgb(162, 114, 207);
}
hr {
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 40px 84px;
}

.heading{
  max-width: 80vw;
  height: 70px;
  margin: auto;
}


.heading h1{
  font-size: 1.8rem;
}


.about {
  width: 60vw;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #020119;
  box-shadow: 5px 5px 5px 5px #110f52;
  margin: auto;
  margin-bottom: 100px;
}

.pic-co {
  margin-right: 100px;
}

.pic img {
  height: 400px;
  border-radius: 5px;
}

.about-desc {
  width: 40%;
  padding: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #7b4dbb;
}
.second {
  max-width: 80vw;
  margin: auto;
  height: 70vh;
}

.second h1 {
  font-size: 1.8rem;
}

.services {
  padding: 20px 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.services-one {
  margin: 20px 25px;
  text-align: center;
}

.service-border {
  height: 180px;
  width: 180px;
  background-color: rgb(117, 24, 188);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 17px 75px;
}

.service-border div {
  background-color: rgb(156, 95, 213);
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.service-desc {
  height: 50px;
  font-size: 12px;
  padding: 0 60px;
}

.third {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.third h1 {
  font-size: 1.8rem;
}

.third .box {
  width: 77vw;
  height: 2px;
  margin: 100px 0;
  background-color: white;
  display: flex;
  justify-content: center;
}

.third .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 150px;
}

.image-top {
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
}
.four {
  max-width: 80vw;
  height: 60vh;
  margin: auto;
}

.four h1 {
  font-size: 1.8rem;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.skill-content1,
.skill-content2,
.skill-content3,
.skill-content4 {
  padding: 46;
  display: flex;
  flex-direction: column;
}

.skill {
  width: 180px;
  height: 180px;
  position: relative;
}

h3 {
  text-align: center;
}

.outer {
  width: 121px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 8px 8px 10px -3px rgba(249, 249, 251, 0.15),
    -8px -8px 10px -3px rgba(226, 226, 244, 0.7);
  padding: 20px;
  padding-top: 22.5px;
}

.inner {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-top: 1px;
  bottom: 0.5px;
  top: 0.5px;
}

#number1,
#number2,
#number3,
#number4 {
  font-weight: 900;
  color: rgb(244, 241, 241);
}

.skill-content1 circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim1 2s linear forwards;
}

.skill-content2 circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim2 2s linear forwards;
}

.skill-content3 circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim3 2s linear forwards;
}

.skill-content4 circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim4 2s linear forwards;
}

svg {
  position: absolute;
  top: 1.5px;
  left: 0px;
  bottom: -2px;
}

@keyframes anim1 {
  100% {
    stroke-dashoffset: 155.76;
  }
}

@keyframes anim2 {
  100% {
    stroke-dashoffset: 217.12;
  }
}

@keyframes anim3 {
  100% {
    stroke-dashoffset: 193.52;
  }
}

@keyframes anim4 {
  100% {
    stroke-dashoffset: 212.4;
  }
}

footer {
  background-color: #080720;
  height: 40vh;
}

.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-between;
}

.footer ul {
  list-style: none;
}

.footer > div {
  width: 223px;
  text-align: center;
}

.footer-rights {
  color: rgb(120, 112, 112);
  text-align: left;
  margin-right: 100px;
  margin-top: 40px;
  padding-left: 18px;
}

.project {
  margin: auto;
  max-width: 80vw;
  height: 70vh;
}

.project h1 {
  font-size: 1.8rem;
}
.project-content {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  width: 200px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: height 0.3s ease;
  overflow: hidden;
}

.background-overlay a {
  display: block;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.image-container:hover .background-overlay {
  height: 100%;
}

.desc {
  text-align: center;
}

.desc h4 {
  margin-top: 30px;
  text-align: center;
  font-size: 17px;
}

.project-des {
  padding: 60px;
}

.desc span {
  margin-top: 30px;
  font-size: 9px;
}

.footer-four ul div:hover {
  background-color: rgb(0, 55, 255);
  height: 33px;
  width: 33px;
  cursor: pointer;
}

i {
  padding-top: 27px;
}

i:hover {
  -ms-transform: scale(0.6); /* IE 9 */
  -webkit-transform: scale(0.6); /* Safari 3-8 */
  transform: scale(0.6);
}
